<div>
    <% if @book.errors.any? %>
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
</div>

<div>
    <h1>User info</h1>
    <%= image_tag @user.get_profile_image(100,100) %>
    <h3><%= @user.name %></h3>
    <p><%= @user.introduction %></p>
    <p><%= link_to "Edit User", edit_user_path(@user) %></p>
</div>

<div>
    <h1>New book</h1>
    <%= form_with model: @new_book do |f| %>
        <h4>Title</h4>
            <%= f.text_field :title %>
        <h4>Opinion</h4>
            <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
    <% end %>
</div>

<div>
    <%= image_tag @book.user.get_profile_image(100,100) %>
    <p>Title: <%= @book.title %></p>
    <p>Opinion: <%= @book.body %></p>
    <p><%= @book.user.name %></p>
    <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.id) %>
        <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm"=>"Are you sure you want to delete this?" %>
    <% end %>
</div>