<div>
    <%= image_tag 'sample-author1.jpg' %>
    <p>Title: <%= @book.title %></p>
    <p>Opinion: <%= @book.body %></p>
    <p><%= @book.user.name %></p>
    <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.id) %>
        <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm"=>"Are you sure you want to delete this?" %>
    <% end %>
</div>